/* Style Text Widget  */
.ababil-styled-text-container {
    display: inline-block;
    width: 100%;
}

.ababil-text-segment {
    display: inline;
}


/* Content Box Widget */


/* Accordion Widget Styles */
.ababil-acf-accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ababil-acf-accordion-icon-wrapper {
    display: flex;
    align-items: center;
}